
    body{
        background-color: lightblue;
    }
    
    h1{
        color: gray;
        text-align: center;
    }
    
    p{
        font-family: cursive;
        font-size: 22px;
    }
    
    #para2 {
        color: red;
    }
    
    .blueclass{
        color: blue;
    }
    
div p2{
    font-size: 20px;
    font-style: italic;
}
    *{
        text-align: center
    }

a:link {
    color: blue;
}
a:visited{
    color: purple;
}
#explorebtn:hover{
    color:orange;
}

p::first-letter{
    font-size: 50px;
}

p3,a {
    font-family: sans-serif;
}

span {
    top: 0;
    left: 0;
    position: fixed;
    
}

/*new side navigation menu*/
.sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: hotpink;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

/*the links in the sidebar*/
.sidenav a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: antiquewhite;
    display: block;
    transition: 0.3s;
}

/* makes it so when you move the mouse, it changes color */
.sidenav a:hover{
    color: plum;
}

/*close button*/
.sidenav .closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}



.red-input:focus {
  background: yellow;
  color: red;
}


