
    body{
        background-color: lightblue;
    }
    
    h1{
        color: gray;
        text-align: center;
    }
    
    p{
        font-family: cursive;
        font-size: 22px;
    }
    
    #para2 {
        color: red;
    }
    
    .blueclass{
        color: blue;
    }
    
div p2{
    font-size: 20px;
    font-style: italic;
}
    *{
        text-align: center
    }

a:link {
    color: blue;
}
a:visited{
    color: purple;
}
#explorebtn:hover{
    color:orange;
}

p::first-letter{
    font-size: 50px;
}

p3,a {
    font-family: sans-serif;
}

/* span {
    top: 0;
    left: 0;
    position: fixed;
    
} */

/*new side navigation menu*/
.sidenav{
    height: 100%;
    width: 20%;
    position: fixed;
    margin: 0;
    padding: 0;
    background-color: hotpink;
    overflow: auto;
    
}

/*the links in the sidebar*/
.sidenav a{
    padding: 8px 16px;
    display: block;
    text-decoration: none;
    font-size: 25px;
    color: antiquewhite;
    
   /* transition: 0.3s; */
}
.main{
    margin-left: 20%;
    padding: 1px 16px;
    height: 1000px;
    
}
    
/* makes it so when you move the mouse, it changes color */
.sidenav a:active{
    background-color:blue;
    color: white;
}
.sidenav a:hover:not(.active) {
    background-color: plum;
    color: white;
}





.red-input:focus {
  background: yellow;
  color: red;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

